// reset

* {
	box-sizing: border-box;
}

// colors variables
$purple: #b35dea;
$light-gray: #f3f3f3;
$dark-gray: #585858;
body {
	width: 100%;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: $dark-gray;
	margin: 0;
	padding: 0;
}
p {
	margin: 2px;
}

.header {
	width: 100%;
	color: $purple;
	background-color: $light-gray;
	display: flex;
	flex-direction: column;
	padding: 12px;

	h1 {
		color: $purple;
		line-height: 12px;
	}
	p {
		font-size: 18px;
		color: $dark-gray;
	}
}

.main-container {
	display: flex;

	height: 100vh;
	min-height: 600px;
}

.configurator {
	&__container {
		width: 75%;
		display: flex;
		align-items: center;
		justify-content: center;
		#application-canvas {
			position: relative;
		}
	}
	&__controller {
		width: 25%;
		padding: 20px;
		background-color: $light-gray;
	}
}

// controller

.controller {
	&__header {
		h2 {
			color: $purple;
			line-height: 12px;
			padding: 6px;
		}
		p {
			font-size: 18px;
			color: $dark-gray;
		}
	}
}

.card {
	margin: 20px 0;
	background-color: #fff;
	padding: 12px;
	border-radius: 4px;
	box-shadow: 0px 1px 1px 2px #dddddd26;
	&__section {
		margin-bottom: 40px;
	}
	&__title {
		color: #a7a7a7;
		font-size: 19px;
		padding-bottom: 10px;
	}
	&__body {
	}
	&__options {
		list-style: none;
		margin: 0;
		padding: 0;
		border: 1px solid;
		border-color: transparent;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	&__option {
		list-style: none;
		width: 120px;
		padding: 10px;
		background-color: #fff;
		cursor: pointer;
		transition: all 0.3s;

		&__swatch {
			padding: 10px;
			border: 1px solid #dadada;
			img {
				width: 76px;
				height: 76px;
			}
		}
		&__name {
			padding: 12px 0;
			color: #888888;
			font-size: 12px;
			text-align: center;
		}

		&:hover {
			border-color: #dddddd78;
			background-color: #dddddd8f;
		}
	}
}

/// Canvas
#application-canvas {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#application-canvas.fill-mode-NONE {
	margin: auto;
}
#application-canvas.fill-mode-KEEP_ASPECT {
	width: 100%;
	height: auto;
	margin: 0;
}
#application-canvas.fill-mode-FILL_WINDOW {
	width: 100%;
	height: 100%;
	margin: 0;
}

canvas:focus {
	outline: none;
}
